{
    "parser": "babel-eslint",
    "env": {
      "browser": false,
      "commonjs": true,
      "es6": true,
      "node": true,
      "jest": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "airbnb"
    ],
    "plugins": [
      "react",
      "jsx-a11y",
      "import",
      "babel"
    ],
    "ecmaFeatures": {
      "es6": true,
      "jsx": true
    },
    "globals": {
      "URL": true,
      "global": true,
      "navigator": true,
      "language": true,
      "window": true,
      "document": true,
      "fetch": true,
      "classes": true
    },
    "rules": {
      "react/prefer-stateless-function": "off",
      "react/jsx-filename-extension": "off",
      "react/jsx-indent": "off",
      "react/jsx-indent-props": "off",
      "react/forbid-prop-types": "off",
      "react/prop-types": ["error", { "ignore": [
        "dispatch",
        "navigation",
        "router",
        "children",
        "classes"
      ]}],
      "react/jsx-no-bind": ["error", {
        "ignoreRefs": true,
        "allowArrowFunctions": false,
        "allowBind": false
      }],
      "react/require-default-props": "off",
      "react/jsx-closing-bracket-location": "off",
      "react/no-array-index-key": "off",
      "react/no-did-mount-set-state": "off",
      "import/no-extraneous-dependencies": "off",
      "import/prefer-default-export": "off",
      "import/no-unresolved": "off",
      "import/extensions": "off",
      "no-await-in-loop": "error",
      "no-compare-neg-zero": "error",
      "no-cond-assign": "error",
      "no-console": "off",
      "no-alert": "error",
      "no-else-return": "error",
      "no-delete-var": "error",
      "no-empty-function": "off",
      "no-eq-null": "error",
      "no-eval": "error",
      "no-extra-bind": "error",
      "no-unused-expressions": "off",
      "no-undef": "error",
      "no-undef-init": "error",
      "no-undefined": "error",
      "no-plusplus": "off",
      "no-mixed-operators": "off",
      "no-return-assign": "off",
      "no-unused-vars": "error",
      "no-use-before-define": "error",
      "no-underscore-dangle": "off",
      "no-bitwise": "off",
      "no-extra-boolean-cast": "off",
      "no-param-reassign": "off",
      "no-throw-literal": "off",
      "no-continue": "off",
      "one-var": "off",
      "class-methods-use-this": "off",
      "arrow-body-style": "off",
      "global-require": "off",
      "consistent-return": "off",
      "constructor-super": "error",
      "array-callback-return": "off",
      "space-in-parens": "off",
      "space-before-function-paren": ["error", "always"],
      "eqeqeq": ["error", "always"],
      "comma-dangle": ["error", "never"],
      "linebreak-style": ["error", "unix"],
      "indent": ["error", 4,  { "SwitchCase": 1 }]
    }
  }